<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.sce.dao.SceRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cn.sce.entity.SceRole">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="idx" property="idx" />
        <result column="name" property="name" />
        <result column="paraent_id" property="paraentId" />
    </resultMap>

</mapper>
